@using Vault.WebHost.Models.Account
@model ProfileModel

@{
    Layout = "_Layout";
    ViewBag.Title = Model.Username;
}

<header class="app-header">
    <div class="app-main-section-wrapper draw-pusher">
        <div class="app-main-section">
            <div class="app-header-row">
                <div class="main-column">
                    <ol class="breadcrumb">
                        <li>
                            <a asp-controller="Account" asp-action="Index">/a</a>
                        </li>
                        <li class="active">
                            @@@Model.Username
                        </li>
                    </ol>
                </div>
                <div class="aside-column">
                </div>
            </div>
        </div>
    </div>
</header>
<div class="app-main-section-wrapper draw-pusher">
    <div class="app-main-section">
        <div class="content-main">
            <div class="content-header">
                <div class="header-inner">
                    <h2>Manage logins</h2>
                    <p class="subheader">You can add multiple logins to your account.</p>
                </div>
            </div>
            <div class="content-inner">
                <div class="form-horizontal">
                    @foreach (var login in Model.Logins.OrderByDescending(t => t.HasLogin).ThenBy(t => t.AuthenticationScheme))
                    {
                        <div class="form-group">
                            <div class="col-md-9 control-label">
                                <b>@login.AuthenticationScheme</b>
                                <div class="subheader">
                                    login summary
                                </div>
                            </div>
                            <div class="col-md-3">
                                @if (login.HasLogin)
                                {
                                    <form asp-controller="Account" asp-action="RemoveExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                                        <input type="hidden" name="LoginProvider" value="@login.AuthenticationScheme" />
                                        <input type="hidden" name="ProviderKey" value="@login.ProviderKey" />
                                        <button type="submit" class="btn btn-action btn-default form-control">
                                            <svg class="icon"><use xlink:href="#icon-plus"></use></svg>
                                            Disconnect
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
                                        <button type="submit" name="LoginProvider" value="@login.AuthenticationScheme" class="btn btn-default form-control">
                                            <svg class="icon"><use xlink:href="#icon-plus"></use></svg>
                                            Connect
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>