@model Vault.WebHost.Services.Boards.ArticleCard
@{
    var url = string.IsNullOrEmpty(Model.Url) ? null : new Uri(Model.Url);
    string domain = null;

    if (url != null)
    {
        domain = url.GetLeftPart(UriPartial.Authority)
            .Replace("/www.", "/")
            .Replace("http://", "")
            .Replace("https://", "");
    }
}

<h3 class="card-title">
    @Model.Name
</h3>
@if (Model.Tags != null && Model.Tags.Any())
{
    <div class="card-tags clearfix">
        @foreach (var item in Model.Tags)
        {
            <a href="#" class="item">@item</a>
        }
    </div>
}
@if (!string.IsNullOrEmpty(domain))
{
    <div class="card-destination">
        <a href="@Model.Url" target="_blank">@domain</a>
    </div>
}
@if (!string.IsNullOrEmpty(Model.Thumbnail))
{
    <div class="card-image">
        <img src="@Model.Thumbnail" alt="@Model.Name">
    </div>
}
<div class="card-summary">
    @Html.Raw(Model.Summary)
</div>